apiVersion: apps/v1
kind: Deployment
metadata:
  name: client-service
  namespace: microkafka
spec:
  replicas: 1
  selector:
    matchLabels:
      app: client
  template:
    metadata:
      labels:
        app: client
    spec:
      containers:
        - name: client
          image: ashwinsai22/client:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
