apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-service
  namespace: microkafka
spec:
  replicas: 2
  selector:
    matchLabels:
      app: payment-service
  template:
    metadata:
      labels:
        app: payment-service
    spec:
      containers:
        - name: payment
          image: ashwinsai22/payment-service:latest
          ports:
            - containerPort: 3000
          env:
            - name: KAFKA_BROKER
              value: kafka-0.kafka:9092,kafka-1.kafka:9092,kafka-2.kafka:9092
---
apiVersion: v1
kind: Service
metadata:
  name: payment-service
  namespace: microkafka
spec:
  selector:
    app: payment-service
  ports:
    - port: 80
      targetPort: 3000
