apiVersion: apps/v1
kind: Deployment
metadata:
  name: client-service
  namespace: microkafka
spec:
  replicas: 2
  selector:
    matchLabels:
      app: client-service
  template:
    metadata:
      labels:
        app: client-service
    spec:
      containers:
        - name: client
          image: ashwinsai22/client-service:latest
          ports:
            - containerPort: 3000
          env:
            - name: KAFKA_BROKERS
              value: kafka-kafka-bootstrap:9092
---
apiVersion: v1
kind: Service
metadata:
  name: client-service
  namespace: microkafka
spec:
  selector:
    app: client-service
  ports:
    - port: 80
      targetPort: 3000
